{% extends "layout.html" %}

{% block content %}

<div class="col-span-1 bg-white/80 backdrop-blur border border-gray-200 shadow-sm rounded-3xl md:col-span-2 ">
    <!-- List Header -->
      {% if pageId == 1 %}
      <div class=" pt-5  pb-5 px-4">
         
        <div class="ml-1 flex items-center justify-between">
          <h2 class="text-2xl font-medium pl-2 text-gray-800">最近文章</h2>
          {% if total_pages >= 2 %}
          <a href="?page=2" class="text-xl font-medium  text-gray-500 hover:text-gray-900"
            >更多文章 →</a
          >
          {% endif %}
        </div>
      </div>
      {% else %}
      <div class=" pt-5  pb-5 px-4">
      <div class="ml-1 flex items-center justify-between">
        <h2 class="text-2xl font-medium pl-2 text-gray-800">页{{ pageId }} </h2>
        </div>
      </div>
      {% endif %} 
  <!-- Posts -->
  {% if posts %}
    <div class="">
      {% for post in posts %}
        {% include "components/postCard.html" %}
      {% endfor %}
    </div>
  {% else %}
    <div class="text-center  text-gray-400 py-20 text-sm">
      暂无内容
    </div>
  {% endif %}
{% if pageId != 1 %}
<nav class=" backdrop-blur border-t border-gray-200  p-6 flex justify-center mt-2">
  <ul class="flex items-center gap-2 text-sm select-none">

    <!-- 上一页 -->
    {% if pageId > 1 %}
    <li>
      <a href="?page={{ pageId - 1 }}"
         class="px-3 py-1.5 rounded-xl border
                text-gray-600
                transition-all duration-200
                hover:bg-gray-100 hover:-translate-y-0.5
                active:translate-y-0">
        ← 
      </a>
    </li>
    {% endif %}

    
      <a href="?page={{ p }}"
         class="
         flex flex-1 overflow-x-auto
           min-w-[2.25rem] text-center
           px-3 py-1.5 rounded-xl border
           transition-all duration-200
           {% if p == pageId %}
             bg-gray
             scale-110 shadow-sm
             pointer-events-none
           {% else %}
             text-gray-600
             hover:bg-gray-100 hover:-translate-y-0.5
           {% endif %}
         ">
        {{ pageId }}
      </a>
    

    <!-- 下一页 -->
    {% if pageId < total_pages %}
    <li>
      <a href="?page={{ pageId + 1 }}"
         class="px-3 py-1.5 rounded-xl border
                text-gray-600
                transition-all duration-200
                hover:bg-gray-100 hover:-translate-y-0.5
                active:translate-y-0">
        →
      </a>
    </li>
    {% endif %}

  </ul>
</nav>
{% endif %}
</div>
{% endblock %}
