{% extends "layout.html" %}

{% block content %}

  <!-- List Header -->
  <div class=" flex items-center justify-between">
    <h2 class="text-sm font-medium text-gray-800">
      最近文章
    </h2>

  </div>

  <!-- Posts -->
  {% if posts %}
    <div class="space-y-5">
      {% for post in posts %}
        {% include "components/postCard.html" %}
      {% endfor %}
    </div>
  {% else %}
    <div class="text-center text-gray-400 py-20 text-sm">
      暂无内容
    </div>
  {% endif %}

{% endblock %}
