<article
  class="flex flex-col p-4 
          overflow-hidden
          border-t
         border-gray-200
         transition
         "
>
  <!-- 封面 -->
      {% if post.cover_image %}
      <div
        class="m-1 w-full
               md:w-60 md:flex-shrink-0
               aspect-[16/9]
               md:aspect-auto
               md:h-45
               rounded-2xl overflow-hidden
               bg-gray-100
               transition-transform duration-300"
      >
        <img
          src="{{ post.cover_image }}"
          alt="{{ post.title }}"
          class="w-full h-full object-cover
                 transition-transform duration-300
                 md:group-hover:scale-105"
        />
      </div>
      {% endif %}


  <!-- 内容区 -->
  <div
    class="flex flex-col gap-3
           p-2 sm:p-3
           h-full"
  >

    <!-- 分类 -->
    {% if post.category_name %}
    <span
      class="w-fit inline-flex items-center
             px-2 py-1
             text-xs font-semibold uppercase tracking-wider
             text-primary
             bg-primary/10
             rounded-full
             border border-primary/20"
    >
      {{ post.category_name }}
    </span>
    {% endif %}

    <!-- 标题 -->
    <h2
      class="text-2xl sm:text-2xl
          
             text-gray-800
             line-clamp-2"
    >
      {{ post.title }}
    </h2>

    <!-- 描述 -->
    {% if post.description %}
    <p
      class="text-xl
             text-gray-600
             leading-relaxed
             line-clamp-3"
    >
      {{ post.description }}
    </p>
    {% endif %}

    <!-- 操作 -->
    <a
      href="/article/{{ post.id }}"
      class="mt-auto inline-flex items-center gap-1
             text-lg font-medium
             text-gray-700
             w-fit
             py-2
              hover:text-gray-900
             transition"
    >
      阅读全文
      <span class="transition group-hover:translate-x-0.5">→</span>
    </a>

  </div>
</article>
