<article
  class="flex flex-col p-4 
          overflow-hidden
          border-t
         border-gray-200
         transition
         "
>
    <!-- 封面 -->
  


  <!-- 内容区 -->
  <div
    class="flex flex-col gap-3
           p-2 sm:p-3
           h-full"
  >

    

    <!-- 标题 -->
    <h2
      class="text-2xl sm:text-2xl
          
             text-gray-800
             line-clamp-2"
    >
      {{ post.title }}
    </h2>

    <!-- 描述 -->
    {% if post.description %}
    <p
      class="text-lg
             text-gray-600
             leading-relaxed
             line-clamp-3"
    >
      {{ post.description }}
    </p>
    {% endif %}
    
    <!-- 操作 -->
    <a
      href="/article/{{ post.id }}"
      class="mt-auto inline-flex items-center gap-1
             text-lg font-medium
             text-gray-700
             w-fit
             border-b border-gray-300
             py-2
              hover:-translate-y-0.5
              hover:text-gray-900
             transition"
    >
      阅读全文
      <span class="transition group-hover:translate-x-0.5">→</span>
    </a>

  </div>
</article>
